In [1]:
import pandas as pd

In [2]:
print(dir(pd))

['Categorical', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'ExcelFile', 'ExcelWriter', 'Expr', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int64Index', 'Interval', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Panel4D', 'Period', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseList', 'SparseSeries', 'Term', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt64Index', 'WidePanel', '_DeprecatedModule', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p10', '_np_version_under1p11', '_np_version_under1p12', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_tslib', '_version', 'api', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'datetools', 'describe_option', 'errors', 'eval', 'ewma', 'ewmcorr', 'ewmcov', 'ewmstd', 'ewmvar', 'ewmvol', 'expanding_apply', 'expanding_corr', 'expanding_count', 'expanding_cov', 'expanding_kurt', 'expanding_max', 'expanding_mean', 'expanding_median', 'expanding_min', 'expanding_quantile', 'expanding_skew', 'expanding_std', 'expanding_sum', 'expanding_var', 'factorize', 'get_dummies', 'get_option', 'get_store', 'groupby', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json', 'lib', 'lreshape', 'match', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'ordered_merge', 'pandas', 'parser', 'period_range', 'pivot', 'pivot_table', 'plot_params', 'plotting', 'pnow', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'rolling_apply', 'rolling_corr', 'rolling_count', 'rolling_cov', 'rolling_kurt', 'rolling_max', 'rolling_mean', 'rolling_median', 'rolling_min', 'rolling_quantile', 'rolling_skew', 'rolling_std', 'rolling_sum', 'rolling_var', 'rolling_window', 'scatter_matrix', 'set_eng_float_format', 'set_option', 'show_versions', 'stats', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tools', 'tseries', 'tslib', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
help(pd.Series)

Help on class Series in module pandas.core.series:

class Series(pandas.core.base.IndexOpsMixin, pandas.core.generic.NDFrame)
 |  One-dimensional ndarray with axis labels (including time series).
 |
 |  Labels need not be unique but must be a hashable type. The object
 |  supports both integer- and label-based indexing and provides a host of
 |  methods for performing operations involving the index. Statistical
 |  methods from ndarray have been overridden to automatically exclude
 |  missing data (currently represented as NaN).
 |
 |  Operations between Series (+, -, /, *, **) align values based on their
 |  associated index values-- they need not be the same length. The result
 |  index will be the sorted union of the two indexes.
 |
 |  Parameters
 |  ----------
 |  data : array-like, dict, or scalar value
 |      Contains data stored in Series
 |  index : array-like or Index (1d)
 |      Values must be hashable and have the same length as `data`.
 |      Non-unique index values are allowed. Will default to
 |      RangeIndex(len(data)) if not provided. If both a dict and index
 |      sequence are used, the index will override the keys found in the
 |      dict.
 |  dtype : numpy.dtype or None
 |      If None, dtype will be inferred
 |  copy : boolean, default False
 |      Copy input data
 |
 |  Method resolution order:
 |      Series
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__ = wrapper(left, right, name='__add__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A55E18>)
 |
 |  __and__ = wrapper(self, other)
 |
 |  __array__(self, result=None)
 |      the array interface, return my values
 |
 |  __array_prepare__(self, result, context=None)
 |      Gets called prior to a ufunc
 |
 |  __array_wrap__(self, result, context=None)
 |      Gets called after a ufunc
 |
 |  __div__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59598>)
 |
 |  __divmod__ = wrapper(left, right, name='__divmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5E7B8>)
 |
 |  __eq__ = wrapper(self, other, axis=None)
 |
 |  __float__ = wrapper(self)
 |
 |  __floordiv__ = wrapper(left, right, name='__floordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59730>)
 |
 |  __ge__ = wrapper(self, other, axis=None)
 |
 |  __getitem__(self, key)
 |
 |  __gt__ = wrapper(self, other, axis=None)
 |
 |  __iadd__ = f(self, other)
 |
 |  __iand__ = f(self, other)
 |
 |  __ifloordiv__ = f(self, other)
 |
 |  __imod__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __int__ = wrapper(self)
 |
 |  __ior__ = f(self, other)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __itruediv__ = f(self, other)
 |
 |  __ixor__ = f(self, other)
 |
 |  __le__ = wrapper(self, other, axis=None)
 |
 |  __len__(self)
 |      return the length of the Series
 |
 |  __long__ = wrapper(self)
 |
 |  __lt__ = wrapper(self, other, axis=None)
 |
 |  __mod__ = wrapper(left, right, name='__mod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A598C8>)
 |
 |  __mul__ = wrapper(left, right, name='__mul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59400>)
 |
 |  __ne__ = wrapper(self, other, axis=None)
 |
 |  __or__ = wrapper(self, other)
 |
 |  __pow__ = wrapper(left, right, name='__pow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59A60>)
 |
 |  __radd__ = wrapper(left, right, name='__radd__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A590D0>)
 |
 |  __rand__ = wrapper(self, other)
 |
 |  __rdiv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5C0D0>)
 |
 |  __rfloordiv__ = wrapper(left, right, name='__rfloordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5C2F0>)
 |
 |  __rmod__ = wrapper(left, right, name='__rmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5C730>)
 |
 |  __rmul__ = wrapper(left, right, name='__rmul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59BF8>)
 |
 |  __ror__ = wrapper(self, other)
 |
 |  __rpow__ = wrapper(left, right, name='__rpow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5C510>)
 |
 |  __rsub__ = wrapper(left, right, name='__rsub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59E18>)
 |
 |  __rtruediv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A5C0D0>)
 |
 |  __rxor__ = wrapper(self, other)
 |
 |  __setitem__(self, key, value)
 |
 |  __sub__ = wrapper(left, right, name='__sub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59268>)
 |
 |  __truediv__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x000002C833A59598>)
 |
 |  __unicode__(self)
 |      Return a string representation for a particular DataFrame
 |
 |      Invoked by unicode(df) in py2 only. Yields a Unicode String in both
 |      py2/py3.
 |
 |  __xor__ = wrapper(self, other)
 |
 |  add(self, other, level=None, fill_value=None, axis=0)
 |      Addition of series and other, element-wise (binary operator `add`).
 |
 |      Equivalent to ``series + other``, but with support to substitute a fill_value for
 |      missing data in one of the inputs.
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      fill_value : None or float value, default None (NaN)
 |          Fill missing (NaN) values with this value. If both Series are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      See also
 |      --------
 |      Series.radd
 |
 |  agg = aggregate(self, func, axis=0, *args, **kwargs)
 |
 |  aggregate(self, func, axis=0, *args, **kwargs)
 |      Aggregate using callable, string, dict, or list of string/callables
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      func : callable, string, dictionary, or list of string/callables
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a Series or when passed to Series.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted Combinations are:
 |
 |          - string function name
 |          - function
 |          - list of functions
 |          - dict of column names -> functions (or list of functions)
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      Returns
 |      -------
 |      aggregated : Series
 |
 |      Examples
 |      --------
 |
 |      >>> s = Series(np.random.randn(10))
 |
 |      >>> s.agg('min')
 |      -1.3018049988556679
 |
 |      >>> s.agg(['min', 'max'])
 |      min   -1.301805
 |      max    1.127688
 |      dtype: float64
 |
 |      See also
 |      --------
 |      pandas.Series.apply
 |      pandas.Series.transform
 |
 |  align(self, other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None)
 |      Align two objects on their axes with the
 |      specified join method for each axis Index
 |
 |      Parameters
 |      ----------
 |      other : DataFrame or Series
 |      join : {'outer', 'inner', 'left', 'right'}, default 'outer'
 |      axis : allowed axis of the other object, default None
 |          Align on index (0), columns (1), or both (None)
 |      level : int or level name, default None
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |      copy : boolean, default True
 |          Always returns new objects. If copy=False and no reindexing is
 |          required then original objects are returned.
 |      fill_value : scalar, default np.NaN
 |          Value to use for missing values. Defaults to NaN, but can be any
 |          "compatible" value
 |      method : str, default None
 |      limit : int, default None
 |      fill_axis : {0, 'index'}, default 0
 |          Filling axis, method and limit
 |      broadcast_axis : {0, 'index'}, default None
 |          Broadcast values along this axis, if aligning two objects of
 |          different dimensions
 |
 |          .. versionadded:: 0.17.0
 |
 |      Returns
 |      -------
 |      (left, right) : (Series, type of other)
 |          Aligned objects
 |
 |  all(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      all : scalar or Series (if level specified)
 |
 |  any(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      any : scalar or Series (if level specified)
 |
 |  append(self, to_append, ignore_index=False, verify_integrity=False)
 |      Concatenate two or more Series.
 |
 |      Parameters
 |      ----------
 |      to_append : Series or list/tuple of Series
 |      ignore_index : boolean, default False
 |          If True, do not use the index labels.
 |
 |          .. versionadded: 0.19.0
 |
 |      verify_integrity : boolean, default False
 |          If True, raise Exception on creating index with duplicates
 |
 |      Notes
 |      -----
 |      Iteratively appending to a Series can be more computationally intensive
 |      than a single concatenate. A better solution is to append values to a
 |      list and then concatenate the list with the original Series all at
 |      once.
 |
 |      See also
 |      --------
 |      pandas.concat : General function to concatenate DataFrame, Series
 |          or Panel objects
 |
 |      Returns
 |      -------
 |      appended : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, 2, 3])
 |      >>> s2 = pd.Series([4, 5, 6])
 |      >>> s3 = pd.Series([4, 5, 6], index=[3,4,5])
 |      >>> s1.append(s2)
 |      0    1
 |      1    2
 |      2    3
 |      0    4
 |      1    5
 |      2    6
 |      dtype: int64
 |
 |      >>> s1.append(s3)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `ignore_index` set to True:
 |
 |      >>> s1.append(s2, ignore_index=True)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `verify_integrity` set to True:
 |
 |      >>> s1.append(s2, verify_integrity=True)
 |      Traceback (most recent call last):
 |      ...
 |      ValueError: Indexes have overlapping values: [0, 1, 2]
 |
 |  apply(self, func, convert_dtype=True, args=(), **kwds)
 |      Invoke function on values of Series. Can be ufunc (a NumPy function
 |      that applies to the entire Series) or a Python function that only works
 |      on single values
 |
 |      Parameters
 |      ----------
 |      func : function
 |      convert_dtype : boolean, default True
 |          Try to find better dtype for elementwise function results. If
 |          False, leave as dtype=object
 |      args : tuple
 |          Positional arguments to pass to function in addition to the value
 |      Additional keyword arguments will be passed as keywords to the function
 |
 |      Returns
 |      -------
 |      y : Series or DataFrame if func returns a Series
 |
 |      See also
 |      --------
 |      Series.map: For element-wise operations
 |      Series.agg: only perform aggregating type operations
 |      Series.transform: only perform transformating type operations
 |
 |      Examples
 |      --------
 |
 |      Create a series with typical summer temperatures for each city.
 |
 |      >>> import pandas as pd
 |      >>> import numpy as np
 |      >>> series = pd.Series([20, 21, 12], index=['London',
 |      ... 'New York','Helsinki'])
 |      >>> series
 |      London      20
 |      New York    21
 |      Helsinki    12
 |      dtype: int64
 |
 |      Square the values by defining a function and passing it as an
 |      argument to ``apply()``.
 |
 |      >>> def square(x):
 |      ...     return x**2
 |      >>> series.apply(square)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Square the values by passing an anonymous function as an
 |      argument to ``apply()``.
 |
 |      >>> series.apply(lambda x: x**2)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Define a custom function that needs additional positional
 |      arguments and pass these additional arguments using the
 |      ``args`` keyword.
 |
 |      >>> def subtract_custom_value(x, custom_value):
 |      ...     return x-custom_value
 |
 |      >>> series.apply(subtract_custom_value, args=(5,))
 |      London      15
 |      New York    16
 |      Helsinki     7
 |      dtype: int64
 |
 |      Define a custom function that takes keyword arguments
 |      and pass these arguments to ``apply``.
 |
 |      >>> def add_custom_values(x, **kwargs):
 |      ...     for month in kwargs:
 |      ...         x+=kwargs[month]
 |      ...         return x
 |
 |      >>> series.apply(add_custom_values, june=30, july=20, august=25)
 |      London      95
 |      New York    96
 |      Helsinki    87
 |      dtype: int64
 |
 |      Use a function from the Numpy library.
 |
 |      >>> series.apply(np.log)
 |      London      2.995732
 |      New York    3.044522
 |      Helsinki    2.484907
 |      dtype: float64
 |
 |  argmax = wrapper(*args, **kwargs)
 |
 |  argmin = wrapper(*args, **kwargs)
 |
 |  argsort(self, axis=0, kind='quicksort', order=None)
 |      Overrides ndarray.argsort. Argsorts the value, omitting NA/null values,
 |      and places the result in the same locations as the non-NA values
 |
 |      Parameters
 |      ----------
 |      axis : int (can only be zero)
 |      kind : {'mergesort', 'quicksort', 'heapsort'}, default 'quicksort'
 |          Choice of sorting algorithm. See np.sort for more
 |          information. 'mergesort' is the only stable algorithm
 |      order : ignored
 |
 |      Returns
 |      -------
 |      argsorted : Series, with -1 indicated where nan values are present
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  autocorr(self, lag=1)
 |      Lag-N autocorrelation
 |
 |      Parameters
 |      ----------
 |      lag : int, default 1
 |          Number of lags to apply before performing autocorrelation.
 |
 |      Returns
 |      -------
 |      autocorr : float
 |
 |  between(self, left, right, inclusive=True)
 |      Return boolean Series equivalent to left <= series <= right. NA values
 |      will be treated as False
 |
 |      Parameters
 |      ----------
 |      left : scalar
 |          Left boundary
 |      right : scalar
 |          Right boundary
 |
 |      Returns
 |      -------
 |      is_between : Series
 |
 |  combine(self, other, func, fill_value=nan)
 |      Perform elementwise binary operation on two Series using given function
 |      with optional fill value when an index is missing from one Series or
 |      the other
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      func : function
 |          Function that takes two scalars as inputs and return a scalar
 |      fill_value : scalar value
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = Series([1, 2])
 |      >>> s2 = Series([0, 3])
 |      >>> s1.combine(s2, lambda x1, x2: x1 if x1 < x2 else x2)
 |      0    0
 |      1    2
 |      dtype: int64
 |
 |      See Also
 |      --------
 |      Series.combine_first : Combine Series values, choosing the calling
 |          Series's values first
 |
 |  combine_first(self, other)
 |      Combine Series values, choosing the calling Series's values
 |      first. Result index will be the union of the two indexes
 |
 |      Parameters
 |      ----------
 |      other : Series
 |
 |      Returns
 |      -------
 |      combined : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, np.nan])
 |      >>> s2 = pd.Series([3, 4])
 |      >>> s1.combine_first(s2)
 |      0    1.0
 |      1    4.0
 |      dtype: float64
 |
 |      See Also
 |      --------
 |      Series.combine : Perform elementwise operation on two Series
 |          using a given function
 |
 |  compound(self, axis=None, skipna=None, level=None)
 |      Return the compound percentage of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values when computing the result.
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean columns. If None, will attempt to use
 |          everything, then use only numeric data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      compounded : scalar or Series (if level specified)
 |
 |  compress(self, condition, *args, **kwargs)
 |      Return selected slices of an array along given axis as a Series
 |
 |      See also
 |      --------
 |      numpy.ndarray.compress
 |
 |  corr(self, other, method='pearson', min_periods=None)
 |      Compute correlation with `other` Series, excluding missing values
 |
 |      Parameters
 |      ----------
 |      other : Series
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient

s1 = pd.Series([10,11,12,13,14])
s1

In [4]:
s1 = pd.Series([10,11,12,13,14]) 
s1

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [5]:
dict3 ={'a':11,'b':'ab','c':12,'d':'de'}

In [6]:
s3=pd.Series(dict3)
s3

a    11
b    ab
c    12
d    de
dtype: object

In [7]:
import numpy as np
s4 =pd.Series(np.array([1,2,3,4,5]))
s4

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [8]:
s5=pd.Series([1,2,3,4,5])
s6=pd.Series([6,7,8,9,1])

In [9]:
print(s5 + s6)

0     7
1     9
2    11
3    13
4     6
dtype: int64

In [10]:
print(s5-s6)

0   -5
1   -5
2   -5
3   -5
4    4
dtype: int64

In [11]:
print(s5/s6)

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    5.000000
dtype: float64

In [12]:
s7=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s7

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
dict1={'Trainer':['vasanthi','lakshmi','vijay'],'sub':['python','DS','C'],'id':[123,234,345]}
df=pd.DataFrame(dict1,index=['a','b','c'])
df

    Trainer   id     sub
a  vasanthi  123  python
b   lakshmi  234      DS
c     vijay  345       C

In [14]:
df[0:1]

    Trainer   id     sub
a  vasanthi  123  python

In [15]:
df[0:2]

    Trainer   id     sub
a  vasanthi  123  python
b   lakshmi  234      DS

In [16]:
df['Trainer']

a    vasanthi
b     lakshmi
c       vijay
Name: Trainer, dtype: object

In [17]:
df['id']

a    123
b    234
c    345
Name: id, dtype: int64

In [18]:
df['id'][2]

345

In [19]:
df['id'][1]

234

In [20]:
df.iloc[2]

Trainer    vijay
id           345
sub            C
Name: c, dtype: object

In [21]:
type(df.iloc[2])

pandas.core.series.Series

In [22]:
df.loc['a':'b',['Trainer','sub']]

    Trainer     sub
a  vasanthi  python
b   lakshmi      DS

In [23]:
df.iloc[0:2,[0,1]]

    Trainer   id
a  vasanthi  123
b   lakshmi  234

In [24]:
dict1={'sports':['Crt','hockey','Coco'],'Score':[9,7,8],'Team':['CSE_team','ECE_team','it_team']}
df=pd.DataFrame(dict1,index=['A','B','C'])
df

   Score      Team  sports
A      9  CSE_team     Crt
B      7  ECE_team  hockey
C      8   it_team    Coco

In [25]:
pd.concat([df,df])

   Score      Team  sports
A      9  CSE_team     Crt
B      7  ECE_team  hockey
C      8   it_team    Coco
A      9  CSE_team     Crt
B      7  ECE_team  hockey
C      8   it_team    Coco

### Adding a row and column

In [26]:
df.append({'Score':10,'Team':'it_team','sports':'crt'})

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [ ]:
df.append({'Score':10,'Team':'it_team','sports':'crt'},ignore_index=True)
df

# Adding Column

In [ ]:
df['win/loss']=['Win','Loss','Win']

In [27]:
df

   Score      Team  sports
A      9  CSE_team     Crt
B      7  ECE_team  hockey
C      8   it_team    Coco

In [28]:
df=pd.read_csv('market_fact.csv')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [29]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [30]:
df.head(10)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37

In [31]:
df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [32]:
df.tail(10)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [33]:
df.sample()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2441,Ord_309,Prod_2,SHP_415,Cust_77,2700.41,0.08,10,258.01,23.19,0.59

In [34]:
df.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6401,Ord_1251,Prod_5,SHP_1728,Cust_469,8958.4600,0.02,41,2593.14,21.21,0.59
4800,Ord_705,Prod_4,SHP_965,Cust_231,1580.6005,0.07,30,303.53,2.79,0.56
6294,Ord_3040,Prod_2,SHP_4218,Cust_1140,374.3800,0.03,42,-1.16,3.50,0.58
2428,Ord_2570,Prod_11,SHP_3520,Cust_968,2527.7920,0.09,23,-335.32,52.42,0.74
3605,Ord_3487,Prod_7,SHP_4828,Cust_1191,15.6000,0.09,5,1.67,0.78,0.52

In [35]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [36]:
df.index

RangeIndex(start=0, stop=8399, step=1)

In [37]:
df2=pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Global%20Dataset/Market_Fact.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [39]:
df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [40]:
df.mean()

Sales                  1775.878179
Discount                  0.049671
Order_Quantity           25.571735
Profit                  181.184424
Shipping_Cost            12.838557
Product_Base_Margin       0.512513
dtype: float64

In [41]:
df['Sales'].mean()

1775.8781788308156

In [43]:
df.shape

(8399, 10)

In [45]:
df['Sales']>30000

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [46]:
df[df['Sales']>30000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39

In [48]:
df[df['Sales']>30000].count()

Ord_id                 4
Prod_id                4
Ship_id                4
Cust_id                4
Sales                  4
Discount               4
Order_Quantity         4
Profit                 4
Shipping_Cost          4
Product_Base_Margin    4
dtype: int64

In [56]:
df[(df['Sales']>25000) & (df['Sales']<30000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62

In [57]:
df[(df['Sales']>25000) & (df['Sales']<30000)].count()

Ord_id                 19
Prod_id                19
Ship_id                19
Cust_id                19
Sales                  19
Discount               19
Order_Quantity         19
Profit                 19
Shipping_Cost          19
Product_Base_Margin    19
dtype: int64

In [59]:
df['Prod_id'].value_counts()

Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64

In [67]:
df[df['Prod_id']=='Prod_14'].count()

Ord_id                 87
Prod_id                87
Ship_id                87
Cust_id                87
Sales                  87
Discount               87
Order_Quantity         87
Profit                 87
Shipping_Cost          87
Product_Base_Margin    87
dtype: int64

In [68]:
df['Prod_id']=='Prod_14'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Prod_id, Length: 8399, dtype: bool

In [69]:
df.sort_values(by = ['Sales'])

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
...,...,...,...,...,...,...,...,...,...,...
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39

In [70]:
df.sort_values(by = ['Sales'],ascending=False)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
...,...,...,...,...,...,...,...,...,...,...
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37

In [71]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [74]:
df.sort_values(by = ['Sales'],ascending=False,inplace=True)

In [75]:
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
4399,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44
7547,Ord_3170,Prod_10,SHP_4400,Cust_1162,29345.27,0.03,34,7497.55,44.55,0.62
6037,Ord_3727,Prod_17,SHP_5171,Cust_1310,29186.49,0.05,38,11562.08,55.30,0.40
6245,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37
2253,Ord_3143,Prod_14,SHP_4362,Cust_1170,28664.52,0.09,50,13340.26,24.49,0.37
8217,Ord_3359,Prod_10,SHP_7245,Cust_1762,28389.14,0.07,33,7132.18,44.55,0.62
385,Ord_3707,Prod_17,SHP_5136,Cust_1307,28359.40,0.05,49,14440.39,24.49,0.37
7091,Ord_911,Prod_10,SHP_1255,Cust_302,28180.08,0.02,32,7513.88,44.55,0.62
7318,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44
5042,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37
6660,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37
8046,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37
2680,Ord_1963,Prod_11,SHP_2687,Cust_732,26622.55,0.08,49,3146.22,45.70,0.71
4291,Ord_138,Prod_10,SHP_185,Cust_92,26133.39,0.04,30,-11053.60,44.55,0.62
2216,Ord_4216,Prod_14,SHP_5881,Cust_1432,26126.92,0.04,42,9498.60,24.49,0.50
6765,Ord_5186,Prod_17,SHP_7247,Cust_1763,26095.13,0.03,35,12606.81,55.30,0.40
4124,Ord_2345,Prod_3,SHP_3218,Cust_937,25409.63,0.02,20,11535.28,19.99,0.35
4963,Ord_4161,Prod_17,SHP_5798,Cust_1421,25313.34,0.05,35,8612.11,16.06,0.56
2259,Ord_1978,Prod_17,SHP_2703,Cust_725,25312.00,0.01,48,8788.81,16.63,0.59
3329,Ord_2130,Prod_15,SHP_2906,Cust_796,24701.12,0.04,48,8022.94,26.00,0.60
5800,Ord_5114,Prod_15,SHP_7144,Cust_1729,24639.80,0.01,46,8614.79,26.00,0.60
6484,Ord_3627,Prod_17,SHP_5022,Cust_1281,24559.91,0.01,47,7358.66,16.63,0.59
4259,Ord_1980,Prod_10,SHP_2706,Cust_924,24391.16,0.04,28,-9611.91,44.55,0.62
6653,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50
1265,Ord_5250,Prod_17,SHP_7331,Cust_1769,24105.87,0.07,14,4073.25,14.70,0.55
6797,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37
...,...,...,...,...,...,...,...,...,...,...
3190,Ord_4490,Prod_13,SHP_6250,Cust_1507,7.96,0.00,1,-0.11,0.70,0.56
1087,Ord_2505,Prod_13,SHP_3433,Cust_946,7.75,0.03,2,-5.27,2.40,0.58
1742,Ord_3667,Prod_6,SHP_5083,Cust_1291,7.64,0.10,1,-6.60,3.01,0.36
2372,Ord_3905,Prod_7,SHP_5420,Cust_1341,7.56,0.10,4,-5.53,0.76,0.83
7590,Ord_3383,Prod_5,SHP_4690,Cust_1195,7.15,0.03,1,-2.55,2.03,0.51
2212,Ord_4484,Prod_13,SHP_6244,Cust_1504,7.01,0.03,2,-4.20,0.96,0.58
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
6272,Ord_3072,Prod_13,SHP_4266,Cust_1140,6.77,0.06,1,-3.66,4.28,0.44
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.76,0.02,3,-4.28,1.57,0.59
624,Ord_2681,Prod_13,SHP_3670,Cust_992,6.75,0.08,1,-2.31,1.00,0.38
964,Ord_2309,Prod_13,SHP_3165,Cust_865,6.34,0.08,2,-4.44,0.97,0.59
5114,Ord_4122,Prod_12,SHP_5743,Cust_1408,6.13,0.08,2,-2.83,0.49,0.38
4024,Ord_3757,Prod_6,SHP_5215,Cust_1319,5.73,0.01,1,-1.84,0.80,0.36
4159,Ord_1274,Prod_7,SHP_1760,Cust_471,5.70,0.10,1,-2.34,2.00,0.53
6440,Ord_1218,Prod_6,SHP_1682,Cust_468,5.68,0.02,1,-1.82,0.88,0.39
4342,Ord_3766,Prod_7,SHP_5224,Cust_1320,5.63,0.03,1,-3.55,0.70,0.80
5964,Ord_3056,Prod_7,SHP_4245,Cust_1142,5.31,0.00,4,-1.50,0.70,0.38
4063,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
4754,Ord_2506,Prod_7,SHP_5853,Cust_1415,4.97,0.04,1,-4.91,1.43,0.38
2453,Ord_2890,Prod_7,SHP_3987,Cust_1054,4.94,0.10,3,-1.76,0.70,0.37
3874,Ord_2380,Prod_7,SHP_3268,Cust_953,3.96,0.10,3,-1.72,0.70,0.38
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.85,0.08,1,-1.36,0.99,0.37
4510,Ord_1751,Prod_13,SHP_2427,Cust_597,3.77,0.09,1,-1.84,0.96,0.58
5166,Ord_1109,Prod_13,SHP_1531,Cust_429,3.63,0.03,1,-1.56,0.70,0.56
384,Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
817,Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
4631,Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
6700,Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37